@model List<ReminderWebApp.Data.Models.ToDoThing>
<h3 class="text-center">Дела на сегодня</h3>
<ul class="all-todothings-ul">
    @foreach (var todothing in Model)
    {
        <div class="all-todothings-div">
        <a class="all-todothings-href" asp-page="/ToDoThing" asp-route-Id="@todothing.Id">
        <li class="all-todothings-li">@todothing.Title</li>
        </a>
        </div>
    }
</ul>