@model List<ReminderWebApp.Data.Models.ToDoThing>
<h3 class="text-center">Дела на сегодня</h3>
<ul>
    @foreach (var todothing in Model)
    {
        <li class="text-center"><a asp-page="/ToDoThing" asp-route-Id="@todothing.Id">@todothing.Title</a></li>
    }
</ul>