@model List<ReminderWebApp.Data.Models.ToDoThing>
<h3>Дела на сегодня</h3>
<ul>
    @foreach (var todothing in Model)
    {
        <li><a asp-page="/ToDoThing" asp-route-Id="@todothing.Id">@todothing.Title</a></li>
    }
</ul>