@page "{id:int}"
@model ReminderWebApp.Pages.ToDoThingModel
@{
}

@Model.ToDoThing.Date
@Model.ToDoThing.Title
@Model.ToDoThing.Description
<button>
    <a asp-page="/ChangeToDoThing" asp-route-Id="ToDoThing.Id">Изменить</a>
</button>