@page "{id:int}"
@model ReminderWebApp.Pages.ToDoThingModel
@{
}
@Model.ToDoThing.Date
@Model.ToDoThing.Title
@Model.ToDoThing.Description
<a asp-page="/EditToDoThing" asp-route-Id="@Model.ToDoThing.Id">Изменить</a>