.todothings-button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    appearance: none;
    backface-visibility: hidden;
    background-color: green;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

    .todothings-button:hover {
        background-color: darkgreen;
        opacity: 1;
        transform: translateY(0);
        transition-duration: .35s;
        color:white;
    }

    .todothings-button:active {
        transform: translateY(2px);
        transition-duration: .35s;
    }

    .todothings-button:hover {
        box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
    }

.todothings-container-visible {
    display: flex;
}

.todothings-container-hidden {
    display: none;
}

.all-todothings-ul {
    list-style-type: none;
}

.all-todothings-li {
    border-bottom: solid 1px;
    border-color: green;
}

    .all-todothings-li :hover {
        border-bottom: solid 1px;
        border-color: green;
        background-color: lightgray;
    }

.all-todothings-div :hover {
    background-color: lightgray;
}

.all-todothings-href:link {
    text-decoration: none;
    color: black;
}

.all-todothings-href:visited {
    text-decoration: none;
    color: black;
}

.all-todothings-href:hover {
    text-decoration: none;
    color: black;
}

.all-todothings-href:active {
    text-decoration: none;
    color: black;
}

.todothings-buttons-container{
    margin-top: 20px;
}
